# 10 数据连接

In [1]:
import pandas as pd
import numpy as np

df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b' ,'d'],
                        'data2' : np.random.randint(0,10,3)})

print(df_obj1)
print('-'*50)
print(df_obj2)

  key  data1
0   b      5
1   b      8
2   a      0
3   c      0
4   a      7
5   a      0
6   b      7
--------------------------------------------------
  key  data2
0   a      3
1   b      6
2   d      3

In [2]:
#默认连接使用相同的列名，连接方式是内连接
pd.merge(df_obj1, df_obj2)

  key  data1  data2
0   b      5      6
1   b      8      6
2   a      0      3
3   a      7      3
4   a      0      3
5   b      7      6

In [6]:
#左df和右df都拿索引连接
pd.merge(df_obj1, df_obj2,left_index=True,right_index=True)

  key_x  data1 key_y  data2
0     b      5     a      3
1     b      8     b      6
2     a      0     d      3

In [5]:
#左表和右表都拿key列来连接
pd.merge(df_obj1, df_obj2, on='key')

  key  data1  data2
0   b      5      6
1   b      8      6
2   a      0      3
3   a      7      3
4   a      0      3
5   b      7      6

In [7]:
# 更改列名
df_obj1 = df_obj1.rename(columns={'key':'key1'})
df_obj2 = df_obj2.rename(columns={'key':'key2'})

In [8]:
df_obj1

  key1  data1
0    b      5
1    b      8
2    a      0
3    c      0
4    a      7
5    a      0
6    b      7

In [9]:
df_obj2

  key2  data2
0    a      3
1    b      6
2    d      3

In [10]:
#左表以key1来连接，右表以key2来连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2')

  key1  data1 key2  data2
0    b      5    b      6
1    b      8    b      6
2    a      0    a      3
3    a      7    a      3
4    a      0    a      3
5    b      7    b      6

In [11]:
#全外连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='outer')  #全外连接

  key1  data1 key2  data2
0    a    0.0    a    3.0
1    a    7.0    a    3.0
2    a    0.0    a    3.0
3    b    5.0    b    6.0
4    b    8.0    b    6.0
5    b    7.0    b    6.0
6    c    0.0  NaN    NaN
7  NaN    NaN    d    3.0

In [17]:
#left 等价于数据库的left join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='left') #左连接

  key1  data1 key2  data2
0    b      5    b    6.0
1    b      8    b    6.0
2    a      0    a    3.0
3    c      0  NaN    NaN
4    a      7    a    3.0
5    a      0    a    3.0
6    b      7    b    6.0

In [18]:
# right等价于数据库的 right join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='right') #右连接

  key1  data1 key2  data2
0    a    0.0    a      3
1    a    7.0    a      3
2    a    0.0    a      3
3    b    5.0    b      6
4    b    8.0    b      6
5    b    7.0    b      6
6  NaN    NaN    d      3

In [19]:
# 处理重复列名
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                        'data' : np.random.randint(0,10,3)})
#给相同的数据列添加后缀
print(pd.merge(df_obj1, df_obj2, on='key', suffixes=('_left', '_right')))

  key  data_left  data_right
0   b          4           1
1   b          2           1
2   a          9           7
3   a          6           7
4   a          2           7
5   b          7           1

In [20]:
# 按索引连接
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'data2' : np.random.randint(0,10,3)}, index=['a', 'b', 'd'])
print(df_obj1)
print(df_obj2)

  key  data1
0   b      3
1   b      0
2   a      0
3   c      4
4   a      2
5   a      0
6   b      9
   data2
a      1
b      8
d      8

In [21]:
print(pd.merge(df_obj1, df_obj2, left_on='key', right_index=True))

  key  data1  data2
0   b      3      8
1   b      0      8
2   a      0      1
4   a      2      1
5   a      0      1
6   b      9      8

In [22]:
pd.merge(df_obj2,df_obj1, left_index=True, right_on='key')

   data2 key  data1
2      1   a      0
4      1   a      2
5      1   a      0
0      8   b      3
1      8   b      0
6      8   b      9