 ## 处理重复数据

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_obj = pd.DataFrame({'data1' : ['a'] * 4 + ['b'] * 4,
                       'data2' : np.random.randint(0, 4, 8)})
print(df_obj)

  data1  data2
0     a      3
1     a      1
2     a      0
3     a      2
4     b      3
5     b      1
6     b      2
7     b      3

In [4]:
#duplicated()用于检测重复行的方法。它返回一个布尔型的 Series（与 DataFrame 的行数相同）
print(df_obj.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [5]:
df_obj[~df_obj.duplicated()]  #取出不重复行

  data1  data2
0     a      3
1     a      1
2     a      0
3     a      2
4     b      3
5     b      1
6     b      2

In [6]:
#按照某一列去重
print(df_obj.duplicated('data2'))

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
dtype: bool

In [7]:
df_obj1 = pd.DataFrame({'data1' :[np.nan] * 4,
                       'data2' :list('1235')})
df_obj1

   data1 data2
0    NaN     1
1    NaN     2
2    NaN     3
3    NaN     5

In [8]:
#在pd的duplicated中，认为空值和空值是相等的
df_obj1.duplicated('data1')
print(df_obj1.drop_duplicates('data1'))

   data1 data2
0    NaN     1

In [9]:
print(df_obj.drop_duplicates())  #删除重复行
print(df_obj.drop_duplicates('data2'))

  data1  data2
0     a      3
1     a      1
2     a      0
3     a      2
4     b      3
5     b      1
6     b      2
  data1  data2
0     a      3
1     a      1
2     a      0
3     a      2

In [10]:
#如果要在原有的df上去重，需要加inplace=True
df_obj

  data1  data2
0     a      3
1     a      1
2     a      0
3     a      2
4     b      3
5     b      1
6     b      2
7     b      3

In [11]:
#map与applymap一样，但是map只能用于series，applymap只能用于df
ser_obj = pd.Series(np.random.randint(0,10,10))  #series 用map
print(ser_obj)

print(ser_obj.map(lambda x : x ** 2))

0    2
1    5
2    5
3    3
4    5
5    7
6    4
7    3
8    6
9    3
dtype: int32
0     4
1    25
2    25
3     9
4    25
5    49
6    16
7     9
8    36
9     9
dtype: int64

In [13]:
#异常值手动替换
ser_obj=pd.Series(np.arange(10),index=range(3,13))
# 单个值替换单个值
print(ser_obj.replace(1, -100))
print('-' * 20)
# 多个值替换一个值
print(ser_obj.replace(range(6,9), -100))
print('-' * 20)
# 多个值替换多个值
print(ser_obj.replace([4, 7], [-100, -200]))

3       0
4    -100
5       2
6       3
7       4
8       5
9       6
10      7
11      8
12      9
dtype: int64
--------------------
3       0
4       1
5       2
6       3
7       4
8       5
9    -100
10   -100
11   -100
12      9
dtype: int64
--------------------
3       0
4       1
5       2
6       3
7    -100
8       5
9       6
10   -200
11      8
12      9
dtype: int64

In [14]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'ac', 'd', 'e']})

In [15]:
df

   A  B   C
0  0  5   a
1  1  6   b
2  2  7  ac
3  3  8   d
4  4  9   e

In [20]:
#正则表达式替换
"""
将 DataFrame 中所有以字母 'a' 开头的字符串替换为数值 100
^ 表示字符串的开头。
a 表示字母 a 本身。
组合起来匹配任何以 a 开头的字符串
"""
df.replace(to_replace=r'^a', value=100,regex=True)

   A  B    C
0  0  5  100
1  1  6    b
2  2  7  100
3  3  8    d
4  4  9    e

In [21]:
df.dtypes

A    int64
B    int64
C      str
dtype: object